/* body {
  background-color: black;
} */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

hr {
  /* border: 2px solid #bdbdbd; */
  border-top: 0px;
  border-bottom: 1px solid 	#5f5037;
  box-sizing: border-box;
}

.active {
  font-weight: bold;
}

.bg-black {
  background-color: black
}

#bg-logo {
  color: #cdb287;
  font-weight: bold;
  font-size: 28px;
}

.bg-logo {
  color: #cdb287;
  font-weight: bold;
  font-size: 22px;
}

.nav {
  font-size: 20px;
  text-decoration: none;
  padding: 15px 0px 15px 0px;
  background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

a {
  /* padding-right: 25px; */
  text-decoration: none !important;
  color: white;
}

.logo {
  text-align: center;
}

.input-sm {
  padding: .3rem .75rem;
  background-color: #242424;
  color: #515151;
}

.input-sm:focus {
  background-color: #242424;
  color: lightgray;
}

.nav-btn-color {
  padding: .1rem .3rem;
  line-height: 1.2;
  border-color: black;
  color: #cdb287;
}

.nav-btn-color:hover {
  background-color: #cdb287;
  border-color: #cdb287;
  color: #343a40;
  cursor: pointer;
}

.search-section {
  padding-right: 15px;
}

.login {
  padding-left: 0px;
}

/* ------ Login / Register ------*/

.signin-section {
  background-image: url('./Landing2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(48,48,48,.9);
  padding-bottom: 70px;
}

.log-reg-section {
  text-align: center;
  padding: 30px 0px 30px 0px;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.log-reg-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.signin-input {
  background-color: transparent;
  border-color: #848484;
}

.signin-input:focus {
  background-color: transparent;
  color: lightgray;
}

.signin-input-title {
  color: #848484;
}

.signin-input-area-title {
  padding-top: 25px;
}

.signin {
  background-color: transparent;
  height: 380px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  box-shadow: inset 0 0 0 1000px rgba(24,24,24,.7);
  border-radius: 10px;
  padding: 40px 30px 40px 30px;
}

.register {
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  box-shadow: inset 0 0 0 1000px rgba(24,24,24,.7);
  border-radius: 10px;
  padding: 40px 30px 40px 30px;
}

.signin-btn-color {
  background: #cdb287;
  color: white;
  cursor: pointer;
}

.signin-btn-color:hover {
  background: #5f5037;
  color: white;
  cursor: pointer;
}

/* ------ Footer ------*/

.footer {
  padding: 35px 36px 40px 36px;
}

.footer-section {
  padding-bottom: 30px;
}

.footer-title {
  color:	#f9f9f9;
}

.footer-list {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #717171;
}

.footer-input-sm {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: .3rem .75rem;
  background-color: #242424;
  color: #515151;
}

.footer-input-sm:focus {
  background-color: #242424;
  color: lightgray;
}

.footer-rights {
  color: 	#5f5037;
}

.footer-address {
  color: 	#5f5037;
  text-align: right;
}

.social {
  font-size: 32px;
  padding: 20px 20px 10px 0px;
  color: #323232;
}